BODY { color: white; font-family: "Inconsolata", monospace; background: black; margin: 0px; }

span.dropdownParent { width: 300px; background-color: gray; border: 1px solid white; }
div.dropdownHeader { padding: 4px; }
div.dropdown { position: absolute; width: 291px; margin-top: 1px; background-color: darkgray; border: 1px solid white; padding: 4px; display: none; }
span.dropdownParent:hover div.dropdown { display: inline; }
div.dropdown span { width: 100%; padding-top: 4px; padding-bottom: 4px; }
div.dropdown span:hover { background-color: dimgray; }

/* div.isnotparent:hover { background-color: dimgray; } */

div.rowHover { background-color: dimgray; }



span { float: left; }

div { overflow: hidden; margin-top: 1px; margin-bottom: 1px; }

div span a, div span span {color: #33D01E;}

img { margin-left: 5px; vertical-align: middle; }

span a img { visibility: hidden; }
span:hover a img { visibility: visible; }

/*
.header-parent { color: #33D01E;}
#mongo-set-selector TD { text-align: center; color: #999 }
#mongo-set-selector TD.selected-cell { background: #444; color: #FFF }
#mongo-set-selector TD:hover { background: #666 }

#mongo-stats-header { position: fixed; background: black; z-index: 10; }
.host-header { display: inline; float: left; word-wrap: break-word; text-align: center; position: absolute}
.host-column { display: inline; float: left; text-align: center; }
#mongo-status-table { position: relative; top: 60px; border: 1px solid white;}
.qtip-content { display: none; color: black }
#mongo-stats-column-labels { border-right: 1px solid white; padding: 0 5px; }
*/